<div class="columns card-container">
  <div class="column">

    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href='/description/{{_id}}'>
            <img src="/images/apartment.png" alt="Placeholder image">
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="/images/juliensmall.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5">{{user.firstName}} {{user.lastName}}</p>
          </div>
        </div>
      </div>
      <div class="contenta">
        <div class="colums">
          <h3>{{title}}</h3>
          <div class="colum">
            <ul>
              <li>{{adresse.city}} {{adresse.zip_code}}</li>
              <li> {{surface}}m2 - {{prix}}€</li>
              <br> 
            </ul>
          </div>
        <!--  <div class="colum">
            <ul>
                <li class="transport"><img  src="/images/transport.png" alt="Placeholder image"> Abbesses</li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
