<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="/images/iconelocaprio.png" alt="Placeholder image" style="height: 70%, width=70%">
    </a>

     <a href="/categorie" class="navbar-item"->
          Appartements
          </a>
          </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
{{#if user}}

    <div class="navbar-end">

      {{#if user.isLocataire}}
      <a class="navbar-item">
        {{user.firstName}}
      </a>
      {{else}}
      <a class="navbar-item">
        {{user.firstName}}
      </a>
      {{/if}}
      <div class="navbar-item has-dropdown is-hoverable ">
        <a class="navbar-link">
          Menu
        </a>

        <div class="navbar-dropdown is-right">

        {{#if user.isLocataire}}
          <a href="/profiloc"class="navbar-item">
            Profil1
          </a>


        {{else}}

          <a href="/profilpro" class="navbar-item">
           profil2
          </a>

             <a href="/creannonce" class="navbar-item">
          Créer mon annonce
          </a>





        {{/if}}


          <a href="/logout" class="navbar-item">
            Logout
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

{{else}}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

        <a  href="/creacompte" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/connexion" class="button is-light">
            Log in
          </a>

        </div>
      </div>
    </div>

{{/if}}

  </div>
</nav>
