<section id="categorie">
  <h1>Check out apparts in Paris</h1>
  
<div class="columns">
{{> card }}
{{> card }}
{{> card }}
</div>

   
  </section>


  picture : {{appart.picture}}
  picture_pro : {{appart.picture_pro}}
  surface : {{appart.surface}}
  availability : {{appart.availability}}
  description : {{appart.description}}
 
    street : {{appart.adresse.street}}
    number : {{appart.adresse.number}}
    zip_code : {{appart.adresse.zip_code}}
    city : {{appart.adresse.city}}
  