


<div class="tile is-parent">
  <div class="tile is-3 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">{{apparts.user.firstName}} {{apparts.user.lastName}}</p>
<figure class="imageuser">
            <img src="/images/rsz_julienbig.jpg" alt="Placeholder image" style="height:300px; width: 200px";>
          </figure>
            <ul>
              <br>
              <li>{{apparts.adresse.city}} {{apparts.adresse.zip_code}}</li>
              <li> {{apparts.surface}}m2 - {{apparts.prix}}€</li>
              </br> 
            </br>
              </div>
    
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title"></p>
          <figure class="imageap">
            <img src="/images/apartment.png" alt="Placeholder image">
          </figure>
          <br>
          {{apparts.description}}
          </br>
    </div>
  </div>
</div>